<div class="w-full h-screen flex flex-col items-center text-center">
  <header>
    <h1 class="text-4xl font-bold">Dog Gallery</h1>
    <p class="mt-4">This is a gallery of dogs</p>
  </header>
  <main class="mt-8 w-full flex-1">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 justify-items-center">
      @for (dog of dogs; track dog.name) {
        <div
          class="w-full max-w-sm bg-white rounded-xl shadow-md overflow-hidden flex flex-col text-left"
        >
          <div class="w-full h-48 bg-gray-200 overflow-hidden relative">
            @if (dog.image$ | async; as imgUrl) {
              <img [src]="imgUrl" [alt]="dog.name" class="w-full h-full object-cover" />
            } @else {
              <div
                class="absolute inset-0 flex items-center justify-center text-gray-400 text-sm animate-pulse"
              >
                Loading image...
              </div>
            }
          </div>

          <div class="p-6 flex flex-col flex-1">
            <h2 class="font-bold text-xl mb-2">{{ dog.name }}</h2>
            <p class="text-gray-600 text-sm">
              <span class="font-semibold">Description:</span> {{ dog.description }}
            </p>
          </div>
        </div>
      }
    </div>
  </main>
</div>
